body {
  background-color: #3E2F32;
}

.font1 {
  font-family: "Open Sans", "Helvetica Neue", sans serif;
}

.font2{
  font-family: "Gentium Book Basic", Georgia, serif;
}

.text-color1 {
  color: #A784A5;
}

.text-color2 {
  color: #F5CBED;
}

.center-text {
  text-align: center;
}

.shadow {
  text-shadow: -3px 2px 0px #3E2F32
}

@media screen and (max-width: 500px) {
    .identification {
        padding: 3em 0;
    }
    .identification-name {
        font-size: 3em;
    }
}

.identification-name{
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: -0.2em;
}

.identification-greeting {
  margin-bottom: 0.1em;
  font-size: 2em;
}

.identification {
  background-image: url('http://i.imgur.com/eAHr997.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: solid 0.25em #F5CBED;
  border-radius: 20px;
  padding: 2em 0;
}

.top-margin {
  margin-top: 2em;
}

.content-margin{
  margin-left: auto;
  margin-right:auto;
  max-width: 38em;
}

.pg-settings {
  /*Typograpgy Declarations*/
  font-weight: 300;
  letter-spacing: 0.05em;
}

.about > h3 {
  font-size: 1.2em;
  /*Layout*/
}

.smedia-links > li {
  display: inline-block;
  margin-right: 1em;
}

@media only screen and (max-width: 500px) {
	.hyper {
		font-size: 2rem;
	}
}

a {
  color: #BDCBED;
}

a:hover {
  color: #F5CBED
}

a:visited {
  color: #F5CBED
}
